html, body {
  background-color: #101112;
  padding: 10px;
  color: white;
  overflow-y: hidden;
}

h5 {
  margin: 0;
  font-size: 125%;
}

textarea {
  resize: none;
  border: none;
}

table {
  font-size: 12px;
}

th, td {
  padding-top: 5px;
  padding-bottom: 5px;
}

#editor {
  position: relative;
  height: 100%;
}

.card-panel {
  background-color: black;
}

.center-text {
  text-align: center;
}

.upper-panel {
  height: 240px;
  overflow-y: auto;
}

.btn-half {
  display: block;
  width: 450px;
  margin: auto;
}

.row {
  margin-bottom: 10px;
}

.console-panel {
  height: 140px;
  font-family: Courier;
  padding: 10px;
  overflow: auto;
}

.console {
  height: 120px;
  overflow-y: auto;
}

.console-list {
  margin: 0;
}

.console form {
  margin: 0;
}

#input {
  height: 21px;
  width: 900px;
  border: none !important;
  border-bottom: none !important;
  box-shadow: none;
  margin: 0;
}

#input:focus {
  border: none !important;
  border-bottom: none !important;
  box-shadow: none;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.green-text {
  color: #8dca56;
}

.white-text {
  color: white;
}

.red-text {
  color: #55b5db;
}

.blue-text {
  color: #2592db;
}

.yellow-text {
  color: #d9c163;
}

.ng-cloak {
  display: none !important;
}

.show {
  display: inherit !important;
}
